body{
  background-color: rgba(0, 0, 0, 0.788);
}

li{
  list-style: none;
  margin-top: 20px;


 
}

.hero{
border: 3px solid  rgb(204, 8, 8);

height: 60px;
display: flex;
gap:40px;
font-size: 21px;
background-color:  rgb(204, 8, 8);
weight:bold;

@media (max-width:992px) {
  width: 500px;
  height: 70px;
  gap:15px;
}

}

a{
  text-decoration: none;
  color: white;
}
.talk{
  color: goldenrod;
  font-size: 20px;
}
.work{
  text-align: center;
}

.back
{
  font-size: 20px;  
  color:black;
   
}
.back:hover{
  color:red;
}
.back:active{
  color:green;
}

.title1{
  @media (max-width:992px) {
    width: 547px;
    height: 280px;
    
  }
}
.title2{
  @media (max-width:992px) {
    width: 547px;
    height: 280px;
    
  }
}
.title3{
  @media (max-width:992px) {
    width: 547px;
    height: 280px;
    
  }
}
.title4{
  @media (max-width:992px) {
    width: 547px;
    height: 280px;
    
  }
}
