body{
  background-color:  rgb(204, 8, 8);
}


li{
  list-style: none;
  margin-top: 20px;
  @media (max-width:992px) {
    
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
  }
  
}


.hero{
border: 3px solid white;

height: 60px;
display: flex;
gap:40px;
font-size: 21px;
background-color: white;
weight:bold;

@media (max-width:992px) {
  width: 570px;
  height: 70px;
  gap:20px;
}

}



a{
text-decoration: none;
color: black;
}
a:hover{
color:red;
}
a:active{
color:green;
}

.fam{
  @media (max-width:992px) {
    width: 547px;
    height: 280px;
    
  }
}
